{%- extends "base/base.html" -%}
{% block content %}
<div>
  <h1>Landing page</h1>
  <div>
    You are {% if request.auth %} logged in as '{{request.auth.user.username}}' ({{request.auth.user.email}}), user-id: {{request.auth.user.user_id}}
    {% else %} not logged in.{% endif %}
  </div>
  <div>
    <ul>
      <li><a href="{{ links.login }}">login</a></li>
      <li><a href="{{ links.logout }}">logout</a></li>
      <li><a href="{{ links.register }}">Register user</a></li>
      <li><a href="{{ links.change_password }}" target="_blank">Change Password</a></li>
      <li><a href="{{ links.example }}">an example protected page</a></li>
      <li><a href="{{ links.ownership_pending }}">ownership.pending</a></li>
      <li><a href="{{ links.ownership_accepted }}">ownership.accepted</a></li>
      <li><a href="{{ links.ownership_rejected }}">ownership.rejected</a></li>
      <li><a href="{{ links.admin_console }}">Admin console</a></li>
  </div>
  <div>
    <p></p>
    <h2>Servers</h2>
    <ul>
      <li><a href="{{ links.keycloak }}" target="_blank">Keycloak</a></li>
      <li><a href="{{ links.keycloak_account }}" target="_blank">Keycloak Account</a></li>
      <li><a href="{{ links.auth_server }}" target="_blank">Arxiv Authorization/Account Server</a></li>
      <li><a href="{{ links.legacy_auth_server }}" target="_blank">Legacy Authorization Server</a></li>
      <li><a href="{{ links.admin_api }}" target="_blank">Admin API</a></li>
      <li><a href="{{ links.mail_store }}" target="_blank">Mail Store Server (does not exist on dev9)</a></li>
    </ul>
  </div>
</div>

{% endblock content %}
