<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if username %}
        <p>Welcome <strong>{{ username }}</strong></p>
    {% else %}
        <p>Welcome stranger</p>

        <p>
            If you want to login as one of test user, use <strong>cookie_monster</strong> / <strong>changeme</strong>
        </p>
    {% endif %}


    {% if username %}
        {% if email %}
            <p>Your email: <strong>{{ email }}</strong></p>
        {% else %}
            <p>Email is not provided.</p>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <p>Not logged in</p>
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
<h2>
    Local servers
</h2>
<table>
    <tr>
        <th>
              Service
        </th>
        <th>
          Link
        </th>
        <th>
          Internal
        </th>
    </tr>
    <tr>
        <td>
            Keycloak
        </td>
        <td>
            <a href="http://localhost:21501">http://localhost:21501</a>
        </td>
        <td>
        </td>
    </tr>

    <tr>
        <td>
            Keycloak Auth DB
        </td>
        <td>
            http://localhost:21502
        </td>
        <td>
        </td>
    </tr>

    <tr>
        <td>
            OAuth2 Authenticator
        </td>
        <td>
            <a href="http://localhost:5100/aaa/docs">http://localhost:5100/aaa/docs</a>
        </td>
        <td>
            <a href="http://localhost:21503/docs">http://localhost:21503/docs</a>
        </td>
    </tr>
    <tr>
        <td>
            MySQL arxiv-db
        </td>
        <td>
            http://localhost:21504
        </td>
        <td>
            mysql+mysqldb://arxiv:arxiv_password@127.0.0.1:21504/arXiv?ssl=false&ssl_mode=DISABLED
        </td>
    </tr>
    <tr>
        <td>
            Legacy Auth Provider
        </td>
        <td>
            <a href="http://localhost:21505/docs">http://localhost:21505</a>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Pubsub Emulator
        </td>
        <td>
            http://localhost:21506
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Test site
        </td>
        <td>
            <a href="http://localhost:5100">http://localhost:5100</a>
        </td>
        <td>
            <a href="http://localhost:21509">http://localhost:21509</a>
        </td>
    </tr>
    <tr>
        <td>
            Admin console REST API
        </td>
        <td>
            <a href="http://localhost:5100/admin-api/docs">http://localhost:5100/admin-api</a>
        </td>
        <td>
            <a href="http://localhost:21510/docs">http://localhost:21510/</a>
        </td>
    </tr>
    <tr>
        <td>
            Admin console UI
        </td>
        <td>
            <a href="http://localhost:5100/admin-console">http://localhost:5100/admin-console</a>
        </td>
        <td>
            <a href="http://localhost:21511">http://localhost:21511</a>
        </td>
    </tr>
</table>

</body>
</html>
