{%- extends "base/base.html" -%}
{% block content %}
<div>
  <h1>admin webapp landing page</h1>
  <div>
    You are {% if request.auth %} logged in {% else %} not logged in.{% endif %}
  </div>
  <div>
    <ul>
      <li><a href="{{url_for('ui.login')}}">login</a></li>
      <li><a href="{{url_for('ui.logout')}}">logout</a></li>
      <li><a href="{{url_for('ui.an_example')}}">an example protected page</a></li>
    </ul>
    Paper Ownership Requests:
    <ul>
      <li><a href="{{url_for('ownership.pending')}}">pending</a></li>
      <li><a href="{{url_for('ownership.accepted')}}">accepted</a></li>
      <li><a href="{{url_for('ownership.rejected')}}">rejected</a></li>
    </ul>
    Endorsement Requests
    <ul>
      <li><a href="{{url_for('endorsement.today')}}">today</a> </li>
      <li><a href="{{url_for('endorsement.today', flagged=1)}}">today flagged</a> </li>
      <li><a href="{{url_for('endorsement.last_week')}}">last week</a></li>
      <li><a href="{{url_for('endorsement.last_week', flagged=1)}}">last week flagged</a></li>
      <li><a href="{{url_for('endorsement.negative')}}">negative</a></li>
    </ul>
  </div>
</div>

{% endblock content %}
