services:
  # Cookie maker
  oauth2-authenticator:
    image: ${ARXIV_OAUTH2_CLIENT_TAG}
    container_name: oauth2-authenticator
    environment:
      # Cookie domain.
      DOMAIN: ${AUTH_COOKIE_DOMAIN}

      SECURE: "true"
      PORT: ${ARXIV_OAUTH2_APP_PORT}
      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
      OAUTH2_CALLBACK_URL: ${AAA_CALLBACK_URL}
      ARXIV_USER_SECRET: ${KEYCLOAK_ARXIV_CLIENT_SECRET}

      CLASSIC_DB_URI: ${CLASSIC_DB_URI}
      CLASSIC_COOKIE_NAME: tapir_session
      CLASSIC_SESSION_HASH: ${CLASSIC_SESSION_HASH}
      SESSION_DURATION: ${CLASSIC_SESSION_DURATION}
      JWT_SECRET: ${JWT_SECRET}

      OIDC_SERVER_SSL_VERIFY: "true"
      #
      # This is the almighty admin client (admin-cli) secret
      #
      KEYCLOAK_ADMIN_SECRET: ${KC_ADMIN_PASSWORD}
      #
    ports:
      - "${ARXIV_OAUTH2_APP_PORT}:${ARXIV_OAUTH2_APP_PORT}"
    networks:
      - wombat-network

  # KC -> Tapir tables
  keycloak-tapir-bridge:
    image: ${KC_TAPIR_BRIDGE_DOCKER_TAG}:latest
    container_name: keycloak-tapir-bridge
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /pubsub-subscriber-key.json
      SUBSCRIPTION: ${KC_TAPIR_BRIDGE_SUBSCRIPTION}
      CLASSIC_DB_URI: ${CLASSIC_DB_URI}
    volumes:
      - ${GCP_PUBSUB_SUBRCRIBER_CREDENTIALS}:/pubsub-subscriber-key.json:ro
    networks:
      - wombat-network
    command: python main.py --project "${PUBSUB_PROJECT}" --subscription "${KC_TAPIR_BRIDGE_SUBSCRIPTION}" --debug


  # Landing page
  arxiv-portal:
    image: ${ARXIV_PORTAL_APP_TAG}:latest
    container_name: arxiv-portal
    environment:
      # docker
      PORT: ${ARXIV_PORTAL_PORT}
      #
      # config.py
      LOCALHOST_DEV: 1
      BASE_SERVER: ${BASE_SERVER}
      # SECRET_KEY:
      ARXIV_AUTH_DEBUG: 1
      CLASSIC_COOKIE_NAME: tapir_session
      CLASSIC_SESSION_HASH: ${CLASSIC_SESSION_HASH}
      SQLALCHEMY_DATABASE_URI: ${CLASSIC_DB_URI}
      JWT_SECRET: ${JWT_SECRET}
      CLASSIC_DB_URI: ${CLASSIC_DB_URI}
      DEFAULT_LOGIN_REDIRECT_URL: "/user-account/"
      DEFAULT_LOGOUT_REDIRECT_URL: "https://dev9.arxiv.org"
      # AUTH_SESSION_COOKIE_DOMAIN: ${AUTH_COOKIE_DOMAIN}
      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
      AAA_URL: "https://dev9.arxiv.org/aaa"
      LEGACY_AUTH_PROVIDER: "https://legacy-auth-provider-874717964009.us-central1.run.app"
      ADMIN_API_URL: "https://dev9.arxiv.org/admin-api"

    ports:
      - "${ARXIV_PORTAL_PORT}:${ARXIV_PORTAL_PORT}"
    networks:
      - wombat-network


  # Admin console backend
  admin-api:
    image: ${ADMIN_API_TAG}:latest
    container_name: admin-api
    environment:
      CLASSIC_COOKIE_NAME: tapir_session
      CLASSIC_DB_URI: ${CLASSIC_DB_URI}
      CLASSIC_SESSION_HASH: ${CLASSIC_SESSION_HASH}
      SESSION_DURATION: ${CLASSIC_SESSION_DURATION}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${ADMIN_API_PORT}
      ENDORSER_POOL_OBJECT_URL: ${ADMIN_API_ENDORSER_POOL_OBJECT_URL}
      API_SHARED_SECRET: ${ADMIN_API_SHARED_SECRET}
      GCP_SERVICE_REQUEST_SA: ${ADMIN_API_GCP_SERVICE_REQUEST_SA}
      GCP_SERVICE_REQUEST_ENDPOINT: ${ADMIN_API_GCP_SERVICE_REQUEST_ENDPOINT}
      AAA_TOKEN_REFRESH_URL: ${AAA_TOKEN_REFRESH_URL}
      AAA_LOGIN_REDIRECT_URL: ${AAA_LOGIN_REDIRECT_URL}
      GOOGLE_APPLICATION_CREDENTIALS: /bomb-range/cred/arxiv-development-admin-api-sa.json
      ARXIV_DOCUMENT_BUCKET_NAME:  ${ARXIV_DOCUMENT_BUCKET_NAME}
    ports:
      - "${ADMIN_API_PORT}:${ADMIN_API_PORT}"
    networks:
      - wombat-network
    volumes:
      - /opt_arxiv/bomb-range:/bomb-range


  #
  ui-extractor:
    image: docker:latest
    container_name: ui-extractor
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/www/arxiv:/output
      - /opt_arxiv/arxiv-ce-production/extract-react-app.sh:/extract-react-app.sh:ro
      - ${WATCHTOWER_CONFIG}:/root/.docker/config.json:ro
    environment:
      - ACCOUNT_PORTAL_IMAGE=${ACCOUNT_PORTAL_APP_TAG}
      - ADMIN_CONSOLE_IMAGE=${ADMIN_CONSOLE_TAG}
      - CHECK_INTERVAL=120
    command: sh /extract-react-app.sh
    restart: unless-stopped
    networks:
      - wombat-network

networks:
  wombat-network:
    driver: bridge
