{%- extends "base.html" -%}

{%block content%}

    <div id="react-root"></div>

    <script type="module">
        const script = document.createElement("script");
        script.src = "http://localhost.arxiv.org:21514/user/src/main.tsx";
        script.type = "module";
        document.body.appendChild(script);
    </script>

    <script type="module">
        const script = document.createElement("script");
        script.src = "http://localhost.arxiv.org:21514/user/src/pages/ownershiprequest.tsx";
        script.type = "module";
        document.body.appendChild(script);
    </script>

</script>


{%endblock content%}
