{%- extends "base.html" -%}
{%- from "macros.html" import render_pagination with context -%}

{%- block content -%}
<h1>{{title}}</h1>

{%- if count > 0 -%}
<div>Found {{count}} ownership requests. Page {{pagination.page}} of {{pagination.pages}}.</div>
{%- else -%}
<div>None found in past {{days_back}} days, <a href='{{url_for(request.endpoint, days_back=days_back*10)}}'>see {{days_back*10}} days back</a></div>
{% endif -%}

<table class="table">
  <tr>
    <th>request ID</th><th>user_id</th><th>status</th><th>endor. req.</th>
  </tr>
  {%for oreq in ownership_requests%}
  <tr>
    <td><a href='{{url_for("ownership.display", ownership_id=oreq.request_id)}}'>{{oreq.request_id}}</a></td>
    <td><a href='{{url_for("user.detail", user_id=oreq.user_id)}}'>
        {{oreq.user.first_name}} {{oreq.user.last_name}}</a>
    </td>
    <td>{{oreq.workflow_status}}</td>
    <td>{% if oreq.endorsement_request_id %}
      <a href='{{url_for("endorsement.request_detail", endorsement_req_id=oreq.endorsement_request_id)}}'>{{oreq.endorsement_request_id}}</a>
        {%else%}None{%endif%}
    </td>
  </tr>
  {%endfor%}
</table>

{{ render_pagination(pagination, request.endpoint) }}
{%- endblock content -%}
