{%- extends "base.html" -%}
{% block content %}
<h1>Claim Ownership: Enter Paper ID and Password</h1>


{% if success==True %}
<div class="alert alert-success" role="alert">Successfully set ownership of {{paperid}}</div>
{% endif %}


{% if error == 'already an owner' %}
<div class="alert alert-warning" role="alert">You are already an owner of {{form.paperid.data}}.</div>
{% elif error is defined %}
  <div class="alert alert-danger" role="alert">
    Setting ownership failed
    {% if error=='bad password' %}
    <div>The password you sent was incorrect.</div>
    {% elif error == 'paperNotFound' %}
    <div>The paper {{form.paperid.data}} does not exist</div>
    {% elif error == 'password encoding must be zero' %}
    <div>There is a problem with the password assocated with {{form.paperid.data}}, please contact the arxiv admins and ask them to set a new password.</div>
    {% elif error=='FormInvalid' %}
    <ul class="errors">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {% for error in field_errors %}
      <li>{{ form[field_name].label }}: {{ error }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endif %}


<div>
  This form allows you to link your arXiv account to papers submitted
  by collaborators.
</div>
<div>
  By entering the paper ID and <i>paper password</i> associated with a
  paper, you can become registered as the <i>owner</i> of a paper.
  Being the owner of a paper confers a number of benefits: for
  example, you can make changes to the paper, cross-list the paper and
  add a journal reference.
</div>
<div>
  Your <a href="{{ url_for('login') }}">user dashboard</a> is where
  you can view and update papers you own.</div>
<div>
  If you register as an author of a paper, we can provide you with a
  list of all the papers you have authored.  Additionally, if you are
  registered as the author of enough papers in a subject area, you can
  endorse other people to submit papers to that subject area.
</div>

<form action="{{url_for(request.endpoint)}}" autocomplete="off" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div>{{form.paperid.label}}: {{ form.paperid()}}</div>
  <div>{{form.password.label}}: {{ form.password()}}</div>
  <div>{{form.author.label}}: {{ form.author()}}</div>
  <div>{{form.agree()}}

    I certify that my name is <b>{{request.auth.user.name.forename}}
    {{request.auth.user.name.surname}}</b> (<a href="/logout">Click
    here</a> if you are not), and my email address
    is <b>{{request.auth.user.email}}</b>
    (<a href="/auth/email-change-form.php">Click here</a> if your
    email address has changed.)

  </div>
  </td>
  <input type="submit">

</form>

{% endblock content %}
