name: Build keycloak-bend

run-name: "Build keycloak-bend ${{ github.ref_name }} ${{ inputs.custom_sha || github.sha }}"

on:
  push:
    branches:
      - master
    tags:
      - "RELEASE-*"
    paths:
      - "keycloak_bend/**"
  pull_request:
    branches:
      - master
    paths:
      - "keycloak_bend/**"
  workflow_dispatch:
    inputs:
      custom_sha:
        description: 'Custom SHA (image rebuilds only)'
        required: false
        type: string

permissions:
  id-token: write
  actions: write
  contents: read
  pull-requests: write

env:
  DEPLOY_WORKFLOW: "deploy-keycloak-bend.yml"
  DOCKERFILE: "Dockerfile"
  GCP_PROJECT_ID: "arxiv-development"
  ARTIFACT_REGISTRY_REPO: "arxiv-keycloak"
  IMAGE_NAME: "arxiv-keycloak"

jobs:
  format-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up terraform
        uses: hashicorp/setup-terraform@v3

      - name: Check version
        run: terraform --version

      - name: Format check
        run: terraform fmt -check

  build-push:
    needs: format-check
    runs-on: ubuntu-latest

    concurrency:
      group: build-${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.custom_sha || github.sha }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ vars.ARXIV_DEVELOPMENT_PROVIDER_NAME }}
          service_account: ${{ vars.ARXIV_DEVELOPMENT_SERVICE_ACCOUNT }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Configure Docker
        run: gcloud auth configure-docker

      - name: Build image, caching from latest
        working-directory: keycloak_bend
        run: |
          pwd
          ls
          ls ${DOCKERFILE}

          # Pull latest image for caching (ignore errors if it doesn't exist yet)
          docker pull gcr.io/${{ env.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${{ env.IMAGE_NAME }}:latest || true

          BRANCH_TAG="$(printf "%.128s" "${GITHUB_HEAD_REF:-$GITHUB_REF_NAME}" | sed 's/\//-/g')"

          # Build the setup job image
          docker build -f ${DOCKERFILE} --build-arg GIT_COMMIT=${{ inputs.custom_sha || github.sha }} \
          --cache-from gcr.io/${{ env.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${{ env.IMAGE_NAME }}:latest \
          -t gcr.io/${{ env.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${{ env.IMAGE_NAME }}:${{ inputs.custom_sha || github.sha }} \
          -t gcr.io/${{ env.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${{ env.IMAGE_NAME }}:${BRANCH_TAG} \
          ${{ github.ref_name == 'master' && format('-t gcr.io/{0}/{1}/{2}:latest', env.GCP_PROJECT_ID, env.ARTIFACT_REGISTRY_REPO, env.IMAGE_NAME) || '' }} .

      - name: Push image
        run: docker push --all-tags gcr.io/${{ env.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${{ env.IMAGE_NAME }}


  deploy:
    needs: build-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}

      - name: Deploy development ${{ github.sha }}
        if: ${{ github.event_name != 'workflow_dispatch' && (github.base_ref == 'master' || github.ref_name == 'master') }}
        uses: ./.github/workflows/deploy-keycloak-bend.yml
        with:
          environment: development
          image_tag: ${{ github.sha }}

      - name: Deploy staging ${{ github.sha }}
        if: ${{ startsWith(github.ref, 'refs/tags/RELEASE-') }}
        uses: ./.github/workflows/deploy-keycloak-bend.yml
        with:
          environment: staging
          image_tag: ${{ github.sha }}
          


      #    if: ${{ !inputs.custom_sha && github.event_name != 'workflow_dispatch' && (github.event_name == 'pull_request' || github.ref_name == 'master') }}
      # # CI Deployment Routing ... manual builds of a commit are not CD candidates
      # - name: Deployment Routing
      #   if: ${{ !inputs.custom_sha }}
      #   uses: arXiv/iac-public/.github/actions/service-deployment-routing@main  
      #   with:
      #     image_tag: ${{ github.sha }}
      #     deploy_workflow: ${{ env.DEPLOY_WORKFLOW }}
      #     workload_identity_provider: ${{ vars.ARXIV_DEVELOPMENT_PROVIDER_NAME }}
      #     service_account: ${{ vars.ARXIV_DEVELOPMENT_SERVICE_ACCOUNT }}