name: Deploy keycloak-audit-pubsub

run-name: "Deploy keycloak-audit-pubsub ${{ inputs.env }} ${{ inputs.image_tag }}"

on:
  workflow_call:
    inputs:
      env:
        description: "Environment"
        required: true
        type: string
        default: ""
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        type: environment
        default: ""

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  format-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up terraform
        uses: hashicorp/setup-terraform@v3

      - name: Check version
        run: terraform --version

      - name: Format check
        run: terraform fmt -check

  deploy:
    runs-on: ubuntu-latest
    needs: format-check
    environment: ${{ inputs.env }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate with target project workload identity
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: projects/${{ vars.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github/providers/github-actions-provider
          service_account: github-actions-sa@${{ vars.PROJECT_NAME }}.iam.gserviceaccount.com
          project_id: ${{ vars.PROJECT_NAME }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Set up terraform
        uses: hashicorp/setup-terraform@v3

      - name: Check version
        run: terraform --version

      - name: Initialize remote backend
        run: terraform init -backend-config="bucket=${{ vars.TERRAFORM_BUCKET }}"
        working-directory: terraform/keycloak-audit-pubsub

      # - name: Import browse-sqlalchemy-db-uri_secret
      #   run: terraform import -var-file="envs/${{ vars.ENV_VAR }}.tfvars" 'google_secret_manager_secret.keycloak_pubsub_credentials' "projects/${{ vars.PROJECT_NUMBER }}/secrets/keycloak-pubsub-event-sa"
      #   working-directory: terraform/keycloak-audit-pubsub

      - name: Apply
        run: |
          terraform apply -var-file="envs/${{ vars.ENV_VAR }}.tfvars" -auto-approve
        working-directory: terraform/keycloak-audit-pubsub  